
/*----------------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 1920PX) SECTION START ------------------------------*/

@media only screen and (max-width: 1920px) {
    .bottom-header-links-part ul a li {
        padding: 4px 20px;
    }
    .bottom-header-logo-part {
        width: 160px;
        padding: 10px 0;
    }
    .id-selector-btn {
        padding: 7px 20px;
    }
    .resume-content-box {
        padding: 40px 0 50px 40px;
    }
    .main-profile-mobile-ui-design-main {
        top: 50px;
        left: 0;
        height: 90%;
        width: 100%;
    }
}

/*----------------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 1920PX) SECTION COMPLETE ------------------------------*/




/*----------------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 1599PX) SECTION START ------------------------------*/

@media only screen and (max-width: 1599px) {
    .bottom-header-links-part ul a li {
        margin-right: 25px;
        padding: 4px 20px;
        font-size: 13px;
    }
    .main-profile-mobile-ui-design-main {
        padding: 0 30px;
        height: 85%;
    }
    .my-info-logo {
        width: 80px;
    }
    .my-info-text p {
        font-size: 14px;
    }
    .my-profil-image-desc h2 {
        font-size: 55px;
        line-height: 55px;
    }
    .drop-zone {
        width: 100%;
        margin-top: 20px;
    }
    .my-profil-image {
        width: 100%;
    }
    .purchase-notf-body p {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 25px;
    }
}

/*----------------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 1599PX) SECTION COMPLETE ------------------------------*/




/*----------------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 1299PX) SECTION START ------------------------------*/

@media only screen and (max-width: 1299px) {
    .bottom-header-part {
        display: none;
    }
    .mobile-menu {
        height: 0;
        width: 100%;
        position: fixed;
        top: 30%;
        font-family: 'Space Grotesk', sans-serif;
        border-radius: 0;
        overflow-x: hidden;
        transition: 1.2s cubic-bezier(0.215, 0.610, 0.355, 1);
        padding-top: 60px;
        display: block;
        padding: 0;
        background: #141a28;
        z-index: 999;
    }
    .mobile-menu a {
        padding: 15px 0 15px 30px;
        text-decoration: none;
        font-size: 18px;
        color: #f7f7f7;
        display: block;
        transition: all 0.4s ease-in-out;
        border-bottom: 0.5px solid #21283e;
    }
    .mobile-menu a i {
        font-weight: 100;
        font-size: 15px;
    }  
    .mobile-menu a:hover {
        color: #fff;
        background: linear-gradient(300deg, #14bcff28, #ce4cfd06);
        padding: 15px 0 15px 40px;
    }
    .mobile-menu .closebtn {
        font-size: 36px;
        border-bottom: 0px solid #2d2d2d;
    }
    .bottom-header {
        height: auto;
        width: 100%;
        padding: 25px 20px 25px;
        position: relative;
    }
    .bottom-header.sticky {
        padding: 20px 30px 20px;
    }
    .mobile-toggle {
        display: block;
        text-align: right;
        cursor: pointer;
        position: relative;
        height: 30px;
        width: 100%;
    }
    .mobile-menu-bar {
        position: absolute;
        top: 0;
        right: 0;
    }
    .bar1, .bar2, .bar3 {
        width: 30px;
        height: 2px;
        background: #f5f5f5;
        margin: 6px 0;
        transition: all 0.2s ease-in-out;
        border-radius: 5px;
    }
    .change .bar1 {
        transform: translate(0, 9px) rotate(-45deg);
    }
    .change .bar2 {opacity: 0;}
    .change .bar3 {
        transform: translate(0, -7px) rotate(45deg);
    }
    .success-box {
        width: 33%;
    }
    .rolling-poster img {
        width: 18%;
    }
    .banner-content h1 {
        font-size: 70px;
        line-height: 80px;
    }
    .main {
        padding: 0 40px 70px;
    }
    .main-profile-scrollable {
        position: unset;
        width: 50%;
        margin: 0 auto;
    }
    .main-profile-mobile-ui-design-main {
        padding: 25px 50px;
    }
    .about-content-upload button {
        padding: 15px 50px;
    }
    .drop-zone {
        margin-top: 25px;
    }
}

/*----------------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 1299PX) SECTION COMPLETE ------------------------------*/




/*----------------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 992PX) SECTION START ------------------------------*/

@media only screen and (max-width: 992px) {
    .main {
        padding: 10px 20px 50px;
    }
    .rolling-poster img {
        width: 22%;
    }
    .success-box p {
        font-size: 17px;
    }
    .skills-content-box-text h5 {
        font-size: 20px;
    }
    .id-selector-btn {
        padding: 7px 25px;
    }
    .resume-content-box {
        padding: 45px 0 50px 40px;
    }
    .testmonial-content-box h4 {
        font-size: 24px;
        margin: 40px 0 45px;
    }
    .contact-content h4 {
        font-size: 24px;
    }
    .main-profile-scrollable {
        width: 60%;
    }
    .my-profil-image-desc p {
        font-size: 16px;
        line-height: 25px;
    }
    .my-profil-image-desc {
        padding: 20px 0;
    }
    .my-profil-image-desc h2 {
        font-size: 60px;
        line-height: 60px;
    }
    .purchase-notf-body p {
        margin-bottom: 15px;
    }
}

/*----------------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 992PX) SECTION COMPLETE ------------------------------*/




/*----------------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 768PX) SECTION START ------------------------------*/

@media only screen and (max-width: 768px) {
    .rolling-poster img {
        width: 28%;
    }
    .main {
        padding: 0 10px 50px;
    }
    .banner-content h1 {
        font-size: 60px;
        line-height: 70px;
    }
    .banner-content button {
        padding: 12px 60px;
    }
    .banner-content p {
        margin-bottom: 40px;
    }
    .sucsess-part {
        padding: 80px 0 0;
    }
    .success-box {
        width: 50%;
        margin: 0 auto;
    }
    .about {
        padding: 70px 0;
    }
    .id-selector-btn {
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    .about-content h2 {
        font-size: 55px;
        line-height: 65px;
        margin-bottom: 40px;
    }
    .services {
        padding: 70px 0 70px;
    }
    .services-content h2 {
        font-size: 55px;
        line-height: 65px;
        margin-bottom: 40px;
    }
    .skills {
        padding: 70px 0 70px;
    }
    .skills-content h2 {
        font-size: 55px;
        line-height: 65px;
        margin-bottom: 40px;
    }
    .resume {
        padding: 70px 0 70px;
    }
    .resume-content h2 {
        font-size: 55px;
        line-height: 65px;
        margin-bottom: 40px;
    }
    .resume-content-box {
        padding: 30px 0 40px 30px;
    }
    .resume-content-box h4 {
        font-size: 27px;
        margin: 30px 0 0px;
    }
    .portfolio {
        padding: 70px 0 70px;
    }
    .portfolio-content h2 {
        font-size: 55px;
        line-height: 65px;
        margin-bottom: 40px;
    }
    .portfolio-content-box-image-overlay button {
        font-size: 17px;
        padding: 12px 50px;
    }
    .portfolio-content-box-image-template-btns {
        bottom: 20px;
        left: 20px;
        overflow-x: auto;
    }
    .portfolio-content-box h4 {
        font-size: 25px;
    }
    .testmonial {
        padding: 70px 0 70px;
    }
    .testmonial-content h2 {
        font-size: 55px;
        line-height: 65px;
        margin-bottom: 40px;
    }
    .testmonial-content-box {
        width: 98%;
        padding: 40px 35px;
    }
    .pricing {
        padding: 70px 0 70px;
    }
    .pricing-content h2 {
        font-size: 55px;
        line-height: 65px;
        margin-bottom: 40px;
    }
    .contact {
        padding: 70px 0 70px;
    }
    .contact-content h2 {
        font-size: 55px;
        line-height: 65px;
        margin-bottom: 40px;
    }
    .footer {
        padding: 60px 0 0;
    }
    .footer-content h6 {
        font-size: 18px;
    }
    .main-profile-scrollable {
        width: 70%;
    }
    .main-profile-mobile-ui-design-main {
        padding: 25px 40px;
    }
    .my-profil-image {
        width: 100%;
        padding: 25px 0 0;
    }
    .my-profil-image-desc h2 {
        font-size: 55px;
        line-height: 55px;
    }
    .my-profil-image-desc ul li {
        font-size: 18px;
        margin-bottom: 2px;
    }
    .testmonial-content-box h4 {
        font-size: 20px;
        line-height: 30px;
    }
    .sticky-social-icons a {
        height: 70px;
        width: 75px;
    }
    .sticky-social-bar {
        width: 80px;
    }
    #chatbot-open-container {
        right: 0.5rem;
    }
    #chatbot-interface {
        height: auto;
        width: 480px;
    }
    #chatbot-header p {
        font-size: 15px;
    }
    #chatbot-header p i {
        font-size: 16px;
    }
    #chatbot-chat {
        padding: 30rem 1rem 1rem 1rem;
    }
}

/*----------------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 768PX) SECTION COMPLETE ------------------------------*/




/*----------------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 576PX) SECTION START ------------------------------*/

@media only screen and (max-width: 576px) {
    .banner-content h1 {
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 5px;
    }
    .id-selector-btn {
        padding: 7px 20px;
    }
    .banner-content p {
        font-size: 16px;
        line-height: 28px;
    }
    .banner-content button {
        padding: 12px 65px;
        font-size: 16px;
    }
    .success-box {
        width: 100%;
    }
    .sucsess-part {
        padding: 50px 0 0;
    }
    .about {
        padding: 60px 0;
    }
    .about-content h2 {
        font-size: 45px;
        line-height: 55px;
        margin-bottom: 30px;
    }
    .about-content p {
        font-size: 17px;
        line-height: 28px;
    }
    .services {
        padding: 60px 0;
    }
    .services-content h2 {
        font-size: 45px;
        line-height: 55px;
        margin-bottom: 30px;
        overflow-wrap: anywhere;
    }
    .skills {
        padding: 60px 0;
    }
    .skills-content h2 {
        font-size: 45px;
        line-height: 55px;
        margin-bottom: 30px;
        overflow-wrap: anywhere;
    }
    .skills-content-box-image {
        width: 50%;
        padding: 45px;
    }
    .resume {
        padding: 60px 0;
    }
    .resume-content h2 {
        font-size: 45px;
        line-height: 55px;
        margin-bottom: 30px;
        overflow-wrap: anywhere;
    }
    .resume-content-box {
        padding: 30px 0 35px 25px;
    }
    .resume-content-box h4 {
        font-size: 22px;
        margin: 20px 0 0px;
        line-height: 28px;
    }
    .portfolio {
        padding: 60px 0;
    }
    .portfolio-content h2 {
        font-size: 45px;
        line-height: 55px;
        margin-bottom: 30px;
        overflow-wrap: anywhere;
    }
    .rolling-poster img {
        width: 40%;
    }
    .portfolio-content-box-image-template-btns {
        bottom: 10px;
        left: 10px;
    }
    .portfolio-content-box-image-template-btns button {
        font-size: 12px;
        padding: 6px 20px;
    }
    .portfolio-content-box-image-overlay button {
        font-size: 16px;
        padding: 10px 40px;
    }
    .portfolio-content-box h4 {
        font-size: 25px;
        margin: 25px 0 12px;
    }
    .portfolio-content-box p {
        font-size: 16px;
    }
    .portfolio-content h3 {
        margin: 50px 0;
    }
    .skills-content-box-text h5 {
        font-size: 18px;
    }
    .portfolio-content-box-image {
        border-radius: 15px;
    }
    .readmore__toggle {
        font-size: 16px;
        padding: 12px 60px;
    }
    .portfolio-content-icons-box {
        margin-bottom: 15px;
    }
    .testmonial {
        padding: 60px 0;
    }
    .testmonial-content h2 {
        font-size: 45px;
        line-height: 55px;
        margin-bottom: 30px;
        overflow-wrap: anywhere;
    }
    .testmonial-content-box {
        width: 98%;
        padding: 30px 25px;
    }
    .testmonial-content-box h4 {
        font-size: 22px;
        margin: 30px 0 40px;
        line-height: 30px;
    }
    .pricing {
        padding: 60px 0;
    }
    .pricing-content h2 {
        font-size: 45px;
        line-height: 55px;
        margin-bottom: 30px;
        overflow-wrap: anywhere;
    }
    .pricing-content p {
        font-size: 16px;
        line-height: 28px;
        margin: 10px 0 0;
    }
    .contact {
        padding: 60px 0;
    }
    .contact-content h2 {
        font-size: 45px;
        line-height: 55px;
        margin-bottom: 30px;
        overflow-wrap: anywhere;
    }
    .contact-content h4 {
        font-size: 22px;
        overflow-wrap: break-word;
        margin-bottom: 60px;
    }
    .contact-form-box input {
        padding: 8px 0;
        font-size: 20px;
    }
    .contact-form-box select {
        padding: 8px 0;
        font-size: 20px;
    }
    .contact-form-box textarea {
        padding: 8px 0;
        font-size: 20px;
    }
    .contact-content button {
        font-size: 16px;
        padding: 12px 60px;
    }
    .footer {
        padding: 40px 0 0;
    }
    .footer-content h6 {
        font-size: 17px;
    }
    .main-profile-scrollable {
        width: 95%;
    }
    .main-profile-mobile-ui-design-main {
        padding: 10px 30px;
    }
    .my-profil-image {
        padding: 20px 0 0;
    }
    .my-profil-image img {
        width: 90%;
    }
    .my-profil-image-desc h2 {
        font-size: 50px;
        line-height: 50px;
    }
    .my-profil-image-desc p {
        margin-bottom: 30px;
    }
    .resume-content-box h6 {
        margin-bottom: 30px;
    }
    .my-info-logo {
        width: 100px;
    }
    .main {
        padding: 0 10px 30px;
    }
    .scrollToTopBtn {
        height: 85px;
        width: 85px;
    }
    .drop-zone {
        height: 450px;
    }
    .sticky-social-icons a {
        height: 65px;
        width: 70px;
        padding: 20px 0;
        margin-top: 4px;
    }
    #chatbot-open-container {
        padding: 1.6rem 0;
        width: 5.5rem;
        height: 5.5rem;
    }
    #chatbot-interface {
        width: 320px;
    }
    #chatbot-chat {
        padding: 20rem 1rem 1rem 1rem;
    }
    .chatbot-messages {
        padding: 0.8rem 1.5rem;
    }
    #chatbot-footer {
        padding: 0rem 1rem 1rem 1rem;
    }
    .cursor {
        width: 80px;
        height: 80px;
    }
    .chaser {
        width: 15px;
        height: 15px;
    }
    .box {
        top: 35%;
        left: 20%;
    }
    .box span {
        width: 15px;
        height: 15px;
    }
    .purchase-pop-up {
        width: 350px;
        left: 10px;
    }
    .purchase-notf-head {
        flex-wrap: wrap;
        padding: 15px 20px;
    }
    .purchase-notf-head h6 {
        font-size: 16px;
    }
    .purchase-notf-head a {
        width: 40%;
    }
    .purchase-notf-head a p {
        font-size: 15px;
    }
}

/*----------------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 576PX) SECTION COMPLETE ------------------------------*/




/*----------------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 375PX) SECTION START ------------------------------*/

@media only screen and (max-width: 375px) {
    .bottom-header {
        padding: 20px 20px 20px;
    }
    .main {
        padding: 0 10px 40px;
    }
    .id-selector-btn {
        font-size: 11px;
        margin-bottom: 40px;
    }
    .rolling-poster img {
        width: 50%;
    }
    .rolling-poster {
        margin: 20px 0 30px;
    }
    .banner-content h1 {
        font-size: 40px;
        line-height: 50px;
    }
    .about {
        padding: 50px 0;
    }
    .about-content h2 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 20px;
    }
    .about-content p {
        font-size: 16px;
    }
    .services {
        padding: 50px 0;
    }
    .services-content h2 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 20px;
    }
    .skills {
        padding: 50px 0;
    }
    .skills-content h2 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 20px;
    }
    .skills-content-box-image {
        width: 50%;
        padding: 30px;
    }
    .skills-content-box-text #counter {
        margin-bottom: 0;
    }
    .skills-content-box-text h5 {
        font-size: 17px;
    }
    .resume {
        padding: 50px 0;
    }
    .resume-content h2 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 20px;
    }
    .resume-content-box {
        padding: 25px 0 30px 20px;
    }
    .resume-content-box h6 {
        margin-bottom: 20px;
    }
    .resume-content-box h4 {
        font-size: 20px;
        line-height: 25px;
    }
    .skills-content-box-text #counter h1 {
        font-size: 45px;
        line-height: 45px;
    }
    .portfolio {
        padding: 50px 0;
    }
    .portfolio-content h2 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 20px;
    }
    .portfolio-content-box-image {
        border-radius: 10px;
    } 
    .portfolio-content-box-image-template-btns {
        display: none;
    }    
    .portfolio-content-box-image-overlay button {
        font-size: 15px;
    }
    .portfolio-content-box h4 {
        font-size: 22px;
        line-height: 28px;
    }
    .portfolio-content h3 {
        margin: 30px 0 40px;
    }
    .portfolio-content-icons-box {
        padding: 40px;
    }
    .portfolio-content-box h6 {
        margin-bottom: 12px;
    }
    .readmore__toggle {
        font-size: 15px;
    }
    .testmonial {
        padding: 50px 0;
    }
    .testmonial-content h2 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 20px;
    }
    .banner-content p {
        margin-bottom: 35px;
    }
    .skills-content-box-text {
        padding: 20px 0 5px;
    }
    .testmonial-content-box-user-info {
        flex-wrap: wrap;
    }
    .testmonial-content-box h4 {
        font-size: 20px;
        margin: 25px 0 40px;
        line-height: 28px;
    }
    .testmonial-content-box {
        width: 100%;
        padding: 30px 20px;
    }
    .pricing {
        padding: 50px 0;
    }
    .pricing-content h2 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 20px;
    }
    .contact {
        padding: 50px 0;
    }
    .contact-content h2 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 20px;
    }
    .contact-content h4 {
        font-size: 20px;
        margin-bottom: 50px;
    }
    .contact-form-box label {
        font-size: 14px;
        line-height: 28px;
    }
    .about-content p {
        line-height: 25px;
    }
    .main-profile-scrollable {
        width: 100%;
        padding: 15px 0 50px;
    }
    .main-profile-mobile-ui-design-main {
        padding: 0 30px;
    }
    .my-info-text {
        width: 100%;
        padding: 10px 0 0;
        text-align: left;
    }
    .my-info-logo {
        width: 100px;
    }
    .rolling-poster-moblie-ui img {
        width: 45%;
    }
    .my-profil-image img {
        width: 100%;
        border-radius: 30px;
    }
    .my-profil-image-desc h2 {
        font-size: 45px;
        line-height: 45px;
    }
    .main-profile-mobile-ui-design-main {
        padding: 0 25px;
    }
    .my-profil-image-desc ul li {
        font-size: 16px;
        margin-bottom: 0px;
    }
    .contact-form-box input {
        padding: 2px 0;
    }
    .about-content-upload button {
        padding: 15px 0;
        width: 100%;
    }
    .drop-zone {
        height: 400px;
    }
    #chatbot-interface {
        width: 300px;
    }
    .chatbot-messages p {
        font-size: 15px;
    }
    .purchase-pop-up {
        width: 280px;
        bottom: 30px;
    }
    .purchase-notf-head {
        border-radius: 0 40px 0 40px;
    }
    .purchase-notf-body {
        border-radius: 0 40px 60px 0;
        padding: 25px 20px;
    }
    .purchase-notf-body h6 {
        font-size: 15px;
        margin-bottom: 10px;
    }
    .purchase-notf-body img {
        height: auto;
        width: 70px;
    }
    .purchase-notf-body p {
        font-size: 15px;
    }
    .purchase-notf-body h5 {
        font-size: 16px;
    }
    .purchase-notf-head a {
        width: 100%;
        margin-top: 5px;
    }
}

/*----------------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 375PX) SECTION COMPLETE ------------------------------*/